body {
  background-color: #EEEEEE;
}

h1 {
  color: #45a29e;
}

h3 {
  color: #00ADB5;
  text-align: center;
  text-decoration: underline;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

.profile {
  background-color: #66fcf1;
}
.circular {
  border-radius: 100%;
}
